http://blueyondervc.cse3310.org {
    # Serve static files from staticfiles directory
    handle /static/* {
        root * /srv/
        file_server
    }

    # Proxy all other requests to Gunicorn
    handle {
        reverse_proxy http://django-todo-app:8000
    }
log {
        output stdout
    }
}
